div {
  height: 46px;
  padding: 0 16px;
  background-color: var(--bg2);
  border-radius: 24px;
  position: relative;
}

div:focus-within {
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.2);
  background-color: var(--bg);
}

button {
  background-color: transparent;
  border-radius: 99px;
  position: absolute;
  right: 0;
}

button:hover {
  background-color: var(--bg2);
}

.squareInp {
  border-radius: 4px;
}
