.inputComponent {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.inpContainer {
  height: 46px;
  background-color: var(--bg2);
  width: fit-content;
  border-radius: 8px;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 0 12px;
}

.inpContainer:focus-within {
  background-color: var(--bg);
  outline: solid 1px var(--border);
  box-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.3);
}
