button {
  min-width: 46px;
  height: 46px;
  padding: 12px;
  text-wrap-mode: nowrap;
}

.hideTxt {
  padding: 2px;
}

.notiCount {
  padding: 0 4px;
  width: fit-content;
  min-width: 18px;
  height: 18px;
  border-radius: 99px;
  background-color: var(--red);
  position: absolute;
  top: -9px;
  right: -9px;
  color: var(--bg);
  font-size: 1.4rem;
}

i {
  font-size: 2.2rem;
}
