.sidebar {
  width: 224px;
  height: 100%;
  padding: 12px;
  display: flex;
  gap: 4px;
  flex-direction: column;
  border-radius: 0 24px 24px 0;
  background-color: var(--bg);
}

.sidebar div:first-of-type {
  margin: 12px 0;
  margin-bottom: 64px;
}

.accountInfo {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
}

.accountInfo span {
  overflow: hidden;
  text-overflow: ellipsis;
}
