<div class="sidebar">
  <div class="pageTitleContainer">
    <h1>El Despa</h1>
    <br>
    <span class="softTxt">Last shift: 12/04 - 1:24</span>
  </div>
  @for (b of homeBtns; track $index) {
  <app-generic-btn
    [active]="b.active"
    [rounded]="true"
    [icon]="b.icon"
    [wfull]="true"
    [destination]="b.destination"
    (click)="btnManagement()"
  >
    {{ b.label }}
  </app-generic-btn>
  }
  <br />
  <div class="wfull accountInfo">
    <span>JuanPerezMail.com</span>
    <app-generic-btn [icon]="'logout'" [rounded]="true" [enfasis]="true" [showTxt]="false"/>
  </div>
</div>
