<div class="sidebar" [ngClass]="isOpen? '' : 'isClosed'">
  <div class="pageTitleContainer">
    <div class="logoContainer">
      @if (isOpen) {
      <h1>Logo</h1>
      }
      <app-generic-btn (click)="isOpen = !isOpen" [icon]="'first_page'" [showTxt]="false" [rounded]="true"/>
    </div>
  </div>
  @for (b of homeBtns; track $index) {
  <app-generic-btn [active]="b.active" [rounded]="true" [icon]="b.icon" [wfull]="true" [destination]="b.destination"
    [showTxt]="isOpen" (click)="btnManagement()">
    {{ b.label }}
  </app-generic-btn>
  }
  <div class="accountInfo">
    <app-generic-btn [rounded]="true" [icon]="'contrast'" [wfull]="true" [showTxt]="isOpen" (click)="toggleTheme()">Theme</app-generic-btn>
    <app-generic-btn   [icon]="'person'" [rounded]="true" [wfull]="true" [showTxt]="isOpen">
      jperez120&#x40;mail.com
    </app-generic-btn>
  </div>
</div>
