.light {
  --bg: #f8f9fa;
  --bg2: #e9ecef;
  --border: #dee2e6;
  --dark: #343a40;
  --font: #212529;
  --font2: #4e565f;
  --main: #ff8f72;
  --hover: #ffe0c2;
  --accent: #b5cb9b;

  --blue: #2bc0ff;
  --red: #ff302c;
  --green: #80e73b;
}

.dark {
  --bg: #212529;
  --bg2: #343a40;
  --border: #4e565f;
  --dark: #e9ecef;
  --font: #f8f9fa;
  --font2: #dee2e6;
  --main: #ff5328;
  --hover: #4e565f;
  --accent: #b5cb9b;

  --blue: #2bc0ff;
  --red: #ff302c;
  --green: #80e73b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--font);
  font-size: 62.5%;
}

.gap8 {
  gap: 8px;
}

.container {
  padding: 12px;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg2);
  position: relative;
  display: flex;
  gap: 24px;
}

.pageContainer {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.winCol {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.win {
  width: 100%;
  display: flex;
  gap: 12px;
}

.winBg {
  padding: 12px;
  background-color: var(--bg);
  border-radius: 35px;
}

.wsm {
  width: 320px;
}

.wmd {
  width: 408px;
}

.wlg {
  width: 660px;
}

.center {
  width: fit-content;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  gap: 12px;
}

.gap6 {
  gap: 6px;
}

.pageTitle {
  margin: 32px 0;
}

h1,
h2,
h3,
h5,
h6 {
  font-size: 3rem;
}

h4 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  margin-bottom: 12px;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.mAuto {
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
}

img {
  border-style: none;
  max-width: 100%;
  display: block;
}

span,
p {
  font-size: 1.8rem;
}

small {
  font-size: 1.4rem;
}

button,
input,
select,
textarea {
  font: inherit;
  font-size: 1.8rem;
  border-style: none;
  text-decoration: none;
}

.input:focus {
  outline: none;
}

button,
a {
  padding: 12px;
  display: flex;
  gap: 6px;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--bg);
  position: relative;
}

button:hover,
a:hover {
  background-color: var(--bg2);
}

.wFit {
  width: fit-content;
}

.wFull {
  width: 100%;
}

.hFull {
  height: 100%;
}

.p18 {
  padding: 18px;
}

input {
  background-color: transparent;
}

input:focus {
  outline: none;
}

.material-icons-round {
  font-size: 2rem;
}

.aItems {
  align-items: center;
}

.rounded {
  border-radius: 99px;
}

.outline {
  border: solid 1px var(--font);
}

.active {
  background-color: var(--border);
}

.active:hover {
  background-color: var(--border);
}

.accent {
  background-color: var(--main);
}

.accent:hover {
  background-color: var(--main);
}

.softTxt {
  color: var(--font2);
}

.mAuto {
  margin: 0 auto;
}

hr {
  height: 32px;
  border-style: none;
}
